/***** SET THE VARIABLES FOR THE DARK MODE *****/

:root
{
    --primaryColor: #E9425A;
    --textColor: #fff;
    --raw1: #951746;
    --raw2: #C1153C;
    --raw3: #C92349;
    --features: #1D1638;
}


[data-theme="dark"]
{
    --primaryColor: #1D1638;
    --textColor: #fff;
    --raw1: #352A67;
    --raw2: #5F4DAC;
    --raw3: #9379FF;
    --features: #E9425A;
}


/***** IMPORT THE FONT *****/

@font-face
{
    font-family: 'arial';
    src: url(../fonts/arial_jazz.ttf);
    font-style: normal;
    font-weight: normal;
}


/***** SET THE BASIC STYLE (including flexbox) *****/

body
{
    font-family: arial;
    letter-spacing: 3px;
    font-size: 12px;
    background-color: var(--primaryColor);
    color: var(--textColor);
    transition: all 0.4s ease;
}


.container_main
{
    width: 65vw;
    margin: 0 auto;
}


/*****  SET THE HEADER *****/

.header
{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
}


.logo_light
{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 15em;
    margin-bottom: 2em;
    user-select: none;
    cursor: pointer;
}


.title
{
    display: flex;
    text-align: center;
    font-size: 40px;
    font-weight: 300;
    letter-spacing: 15px;
    color: var(--features);
}


.title:hover
{
    transform: scale(1.2);
    transition: 0.2s ease-in-out;
    user-select: none;
}


/***** SET THE DRUMPAD'S STYLE *****/

.drum_pad
{
    display: flex;
    align-items: center;
    margin-top: 7em;
}


    /* --- Set the pads style --- */

    .container_box
    {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }


    .box
    {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px;
        width: 110px;
        height: 110px;
        border-radius: 7px;
        cursor: pointer;
        user-select: none;
        text-align: center;
    }


    .box:hover
    {
        transition: 0.3s ease;
        opacity: 0.5;
    }


    .raw1
    {
        background-color: var(--raw1);
    }


    .raw2
    {
        background-color: var(--raw2);
    }


    .raw3
    {
        background-color: var(--raw3);
    }


    /* --- Set the features style --- */

    .container_features
    {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }


    .features
    {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 110px;
        height: 30px;
        border-radius: 7px;
        background-color: var(--features);
        cursor: pointer;
        user-select: none;
        
    }


    .feat1
    {
        margin-top: 4em;
        margin-bottom: 2em;
    }


    .feat2
    {
        -webkit-appearance: none;
        margin-bottom: 2em;
        color: var(--textColor);
        font-size: 12px;
        letter-spacing: 3px;
        border: none;
        outline: none;
        text-align-last: center;
    }


    .feat3
    {
        -webkit-appearance: none;
        color: var(--textColor);
        font-size: 12px;
        letter-spacing: 3px;
        border: none;
        outline: none;
        text-align-last: center;
        margin-bottom: 2em;
    }

    .volume_container{
        width: 110px;
    }
    
    
    /* Volume style */
    
    .volume{
        -webkit-appearance: none;
        width: 110px;
        height: 9px;
        background: var(--features);
        outline: none;
        -webkit-transition: 0.2s;
        border-radius: 12px;
    }
    
    .volume::-webkit-volume-thumb
    {
        -webkit-appearence: none;
        appearance: none;
        width: 40px;
        height: 40px;
        background: ;
        border-radius: 50%;
        cursor: pointer;
    }
    

    .volume::-moz-range-thumb
    {
        width: 40px;
        height: 40px;
        background: ;
        border-radius: 50%;
        cursor: pointer;
    }
    
    .p_volume{
        text-align: center;
    }


/***** FOOTER *****/

.footer
{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 16em;
}


.footer_text
{
    text-decoration: none;
    color: var(--features);
}



/* ANIMATION WHEN THE SONG IS PLAYED */

.animation
{
    transform: scale(1.1);
    background-color: var(--features);
    transition: 0.3s ease-in-out;
}


